<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="row">
        <div class="left_section"></div>
        <div class="middle_section">
            <h1>Welcome to Weather App</h1>
            
            <form action="/home"  method="POST" class="search_form">
                <input type="text" name="cityName" placeholder="Enter city name.." id="search_box"><br>
                <button type="submit" value="Submit" class="search_button">Search</button>

            </form>

                   
        </div> 
        <div class="right_section">
                
                
            
        </div>   

    </div>

</body>
</html>