body{
    background-color: darkseagreen;
}
.row{
    width: 100%;
    height: 100%;
    
}
.left-column{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: 5%;
    
}
.right-column{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: 5%;
    
}
.search_box{
    width: 200px;
    height: 20px;
    padding: 5px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 2%;
}
.search_button{
    width: 100px;
    height: 25  px;
    margin-top: 2%;
    padding: 4px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}